/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

#header .button {
	margin: 25px 0 25px 15px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

#header.sticky-header .button { margin: 6px 0 6px 15px; }

@media (max-width: 991px) {

	#header .button {
		position: absolute;
		margin: 0;
		top: 33px;
		left: auto;
		right: 15px;
	}

}

.swiper-container img { height: 275px}
.swiper-pagination {
    bottom: 95%;
}


